*{
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background: linear-gradient(to bottom right, rgb(121, 18, 218), rgb(121, 18, 218), rgb(80, 64, 228));
}

td,
tr {
    border: 2px solid rgb(91, 0, 177);
    color: rgb(226, 226, 226);
    text-align: center;
    padding: 8px;
}

#tr{
    font-weight: 600;
}